.card-container{
    border: 1px solid rgb(215 215 215/1);
    padding: 35px;
    border-radius: 15px;
    transition: 1s;
    background-color: white;
    .card-header{
        display: flex;
       align-items: center;   
    }
    p{
        line-height: 1.7rem;
        font-size: 17px;
        opacity: 0.7;
    }
    .hover-text{
        color: red;
        display: none;
    }
}

.alternate-card-container{
    border: 1px solid rgb(215 215 215/1);
    padding: 1rem;
    border-radius: 15px;
    .card-header{
        display: flex;
       align-items: center;   
    }
    p{
        line-height: 1.8rem;
        font-size: 17px;
        opacity: 0.8;
    }
    .hover-text{
        color: red;
    }
}

.card-container:hover{
    .hover-text{
        display: block;
    }
}

.font{
    font-size: 17px;
}


@media only screen and (max-width: 660px) {
    .font{
        font-size: 13px;
    }
}
