.card-container{
    border: 1px solid rgb(215 215 215/1);
    padding: 1rem 2rem;
    border-radius: 15px;
    transition: 1s;
    .card-header{
        display: flex;
       align-items: center;
    }
    p{
        line-height: 1.8rem;
        font-size: 17px;
        opacity: 0.8;
    }
    .hover-text{
        color: red;
    }
}