.user-card-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 10px;
        background: rgb(247 247 247/1);
        h4{
            font-size: 27px;
        }
        .footer-content{
            background-color: rgba(2,10,25,.05);
            margin-top: 3rem;
            padding: 2rem;
        }
}