
*{
    scroll-behavior: smooth;
}


.header{
    background: rgb(2 10 25/1);
    color: white;


    .header-section:hover{
        background: white;
        
        .nav-bar{
            color: black;
        }
        .nav-bar .hide-nav{
            color: black;
        }
        :hover{
            cursor: pointer;
        }
       
    }
    .menu-icon{
        display: none;
        color: white;
        font-size: x-large;
    }

    .header-section{
        display: flex;
        justify-content: space-between;
        padding:20px 70px;
        transition: 0.8s;
        position: fixed;
        width: -webkit-fill-available;
        z-index: 9999;
        .nav-bar{
            display: flex;
            gap: 30px;
            align-items: center;
            color: white;
        }
    }
    .scroll-nav{
        margin-top: 70px;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        width: -webkit-fill-available;
        background-color: white;
        padding: 20px 70px;    
        transition: 0.5s;
        z-index: 9999;
        visibility: hidden;
        border-top: 1px solid rgb(215, 215, 215);
        transition: opacity 0.5s ease, visibility 0s 0s;
    }
    .header-details{
        margin-block: auto;
        order: 1;
    }
    .header-image{
        order: 2;
    }
    .header-company{
        background-color: rgb(26, 28, 43); 
        display: grid;
        place-items: center;  
    }
    .header-company-details{
        display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            // column-gap: 153px;
            padding: 39px 50px;
            font-size: 16px;
            line-height: 1.5rem;   
    }
    .header-company-content{
        display: flex;
        .horizontal-line{
            display: none;
        }
    }

.header-content{
    padding: 100px 70px;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1.2fr;
        .email-field{
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
        .email-field input{
            padding: 15px;
            width: auto;
        }
        .email-field input::placeholder{
            opacity: 0.5;
            font-size: 17px;
            line-height: 15px;
        }
}
.opacity-low{
    opacity: 0.6;
}
.bold-text{
    font-size: 43px;
    font-weight: 600;
}
}


.nav-bar .hide-nav{
    color: white;
    text-decoration: none;
}
// .trail-button-alter{
//     float: left;
//     margin-right: 20px;
// }

.trail-button{
    background: rgb(221 7 53/1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    align-items: center;
    font-weight: 400;
    padding: 10px 27px;
}

.trail-button:hover{
    opacity: 0.8;
}

.body-section{
    padding: 90px 40px;
    position: relative;
    background: rgb(247 247 247/1);
    .heading{
        text-align: center;
    }
    .card-group{
        padding: 2rem;
        display: flex;
        column-gap: 150px
    }
       /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: calc(100% - 30px);
    padding: 10px;
  }

    .center-icon{
        display: block;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  .row{
    display: flex;
    justify-content: center;
    margin-top:30px;
    flex-flow: row;
    margin-inline: 35px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
     
  }

   

.feature-section{
    .heading{
        text-align: center;
        padding: 80px 200px;
    }
    .feature-details-card{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 70px;
            margin: 15px 80px;
            row-gap: 20px;
        
    }
}

.platform-section{
    background: rgb(247 247 247/1);
    .header-content{
        text-align: center;    
        padding: 90px 40px;

    }
    .platform-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        padding-bottom: 45px;
    }
    .platform-image{
        border-radius: 1rem;
        margin-inline: 32px;
        .image{
            height: auto;
            width: 100%;
        }
    }
    .platform-card-container{
        overflow-y: scroll;
        height: 550px;
    }
    .platform-card-container::-webkit-scrollbar {
        display: none;  /* For Webkit browsers like Chrome, Safari */
    }
}

.customer-container{
    .header-section{
        text-align: center;
        padding: 40px 40px;
        

    }
    .user-card-carousal{
        display: flex;
        justify-content: space-between;
        margin-inline: 90px;   
    }
    .user-button{
        padding: 1rem 1.7rem;
        margin: auto 1.5rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }
    .user-side-button{
        // visibility: visible;
        display: block;
    }
    .user-button:disabled{
        cursor: not-allowed;
    }
    .user-bottom-section{
        display: flex;
        justify-content: center;
        margin-block: 40px;
        display: none;
    }
}



.footer-section{
    background: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 7rem;
    :first-child{
        font-size: 26px;
        font-weight: 600;
    }
}

.bottom-container{
        color: rgb(85 101 117/1);
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        padding: 20px 55px;
        flex-flow: row;
        opacity: 0.9;
    }



.font-bold{
    font-weight: 600;
    font-size: 41px;
}

.vertical-line{
    border-left: 1px solid rgb(215, 215, 215);
    height: 8rem;
    opacity: 0.2;
    margin-inline: 44px;
 }

 .horizontal-line{
    border-bottom:1px solid rgb(215, 215, 215);
    width: 98%;
    // margin-block: 44px;
 }
 p{
    font-size: 18px;
    opacity: 0.8;
}

.scroll-section{
    margin-top: 50px;
    margin-inline: 100px;
    mask-image: linear-gradient(to left, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%, rgb(255, 255, 255) 80%);
    #scroll-container {
        width: 100%;
        overflow: hidden; /* Hide anything that overflows */
        position: relative;
        mask-image: linear-gradient(to right, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%, rgb(255, 255, 255) 80%);
      }
      
      #scroll-text {
        display: flex; /* Arrange images in a row */
        animation: scroll 20s linear infinite; /* Apply scrolling animation */
      }
      
      @keyframes scroll {
        0% {
          transform: translateX(100%); /* Start at the far right */
        }
        100% {
          transform: translateX(-100%); /* End at the far left */
        }
      }
         
}


////

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    color: black;
  }
  
  .sidenav a {
    padding: 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: rgb(16 20 32 / 1);
    font-size: 15px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    font-size: 25px;
    margin-right: 39px;
    display: flex;
    justify-content: flex-end;
    padding: 35px 38px 13px 38px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 15px}
  }

  ///



 @media only screen and (max-width: 960px) {
    .bottom-container{
        flex-flow: column;
        line-height: 35px;
    }
    .body-section .row{
        flex-flow: column;
        align-items: center;
        margin-inline: 0px;
    }
    .feature-section{
        .feature-details-card{
            grid-template-columns: repeat(2,1fr);
            margin: 15px 30px;
        }
    }  
  }

  @media only screen and (max-width: 1240px) {
   .header .header-content{
        grid-template-columns: 1fr;
        // padding-inline: 280px;_
        // width: 750px;
        // margin: auto;
   } 

   .body-section{
    .center-icon{
        display: none;
       }
       .border-top-right{
        display: none;
       }
       .border-top-left{
        display: none;
       }
       .border-bottom-left{
        display: none;
       }
       .border-bottom-right{
        display: none;
       }
   }

   .header .header-details{
        text-align: center;
        // margin-inline: 225px;
        order: 2;
   }
   .header-section{
    .trail-button{
        display: none;
    }
    .nav-bar{
        color: black;
    }
    .nav-bar .hide-nav{
        display: none;
       }
       .menu-icon{
        display: block;
        color: white;
    }
   }

   .header.header-details{
        order: 2;
   }
   
   .header .header-image{
        order: 1;
   }
   

  }

  @media only screen and (max-width: 6240px) {

   }

   
@media only screen and (max-width: 660px) {
    .feature-section{
        .feature-details-card{
            grid-template-columns: 1fr;
        }
        .heading{
            padding: 70px 50px;
        }
    }
    .header .header-company-details{
        grid-template-columns : 1fr;
        padding: 39px 100px;
        text-align: center;
        row-gap: 35px;     
    }   
    .header .header-company-content{
        display: block;
        .horizontal-line{
            display: block;
        }
       }

    .vertical-line{
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    .customer-container .user-bottom-section{
        display: flex;
    }
    .customer-container .user-side-button{
        display: none;
    }
    .customer-container .user-card-carousal{
        margin-inline: 20px;
    }

}

@media only screen and (max-width: 700px) {
    .platform-section .platform-content{
        grid-template-columns: 1fr;
    }
    .platform-section .platform-card-container{
        height: 100%;
        margin-top: 50px;
    }
    .header .header-content .email-field{
        grid-template-columns: 1fr;
    }
    .header .header-content{
        padding: 100px 25px;
    }
}